@charset "utf-8"; 
@import "../../jp/font.css";


/* common */
.grid-layout{word-wrap: break-word;}
input[type=checkbox] + label{background-position:0 0;background-size:23px 23px;}

/*다국어 로고*/
.header_inner .gnb_area{margin:0 38px 0 0}
.header_inner .logo{width:154px}
.header_inner .logo a{background-image: url(../../../images/common/bg_logo_global.png); background-size: 100% auto;}
.main_intro .logo{width:154px; background: url(../../../images/common/bg_logo_global.png) no-repeat left top; background-size: 100% auto;}
.main_intro span {background-image:url(../../../images/official/main/bg_intro_logo_en.png);}

/* 통합 검색 */
.tab_to_dropdown.depth3 .sec_list ul.top_anchors li a{font-size:18px;}

/* membership */
/*input[type=checkbox] + label,
 input[type=radio] + label{padding-top:5px;padding-bottom:5px;}
.step_list ul{max-width:none;} */
.section .column_wide p.br_line button{margin-top:8px;}
p.br_line{padding: 8px 0 14px;line-height:47px;}
.form_cnt p.br_line.line_h span.info_txt{width:60%;margin-top:10px;line-height:normal;}
/* .join_step01 input[type=checkbox] + label{padding-top:4px;background-position: 0 0px;} */
.join_step01 input[type=checkbox] + label{padding-top:0;padding-bottom:0;background-position: 0 center;}
.terms_chk_all .input_chk label.active{ background-position:15px center;}
.join_step02 span.radio_g{line-height:1.5}
.join_step02 .form_cnt label{width:140px;}
.join_step02 .form_cnt .fm_txt_dsc{margin-left: 190px;}
.join_step02 .form_cnt span.radio_g label{width:auto;}

.membership .containbox_wrap .containbox_mb .custom_etc{padding: 0 2.03%;}
.containbox_wrap .find_dsc p span {float:none;display:block; /* width: 100%; */}
.containbox_wrap .custom_etc ul li {display:block;background-color:#fff;line-height:21px;}
.containbox_wrap .custom_etc ul li a {margin-left: 0;padding:0;}
.containbox_mb .custom_etc,
.containbox_mb .custom_etc .find_dsc p,
.containbox_wrap .custom_etc ul li{text-align:left;}
.containbox_wrap .mb_info_dsc  p.txt_dsc  span{display:inline-block;}

 /* 사회공헌 */
.yc_csr .csr_info_box p {word-break:break-all;}
.yc_csr .csrtype02 .csr_info_box p.txt_tl{font-size:29px;}

/* etc 페이지 에러 */
.page_error .top_logo{width: 154px;background: url(../../../images/common/bg_logo_global.png) no-repeat left bottom;background-size: 100% auto;}

/* 멤버십 글로벌 로고 */
.membership .mb_logo{background-image:url(../../../images/common/bg_logo_mb.png);}

/* 더보기 버튼 + 위치수정*/
.btn_list_more span {background-position:left 4px}

/* about */
/* .about .about_office_wrap_detail .btn_view a {width:240px;} */
.about input[type=checkbox] + label{background-position:0 5px;background-size:24px 24px;}
.about .about_academy_wrap .bottom_content ul > li p{word-break:break-all}

/* 뉴스레터 신청 */
.page_newsletter .nl_write_area .f_cnt_top{position:relative;}
.page_newsletter .nl_write_area .f_cnt_top p.txt_title{line-height:25px;}
.page_newsletter .nl_write_area .f_cnt_top p.txt_title span{margin-left:0;font-size:14px;}
.page_newsletter .form_cnt label {letter-spacing: -1px;font-size: 17px;}
.page_newsletter .f_cnt_top .form_cnt p {line-height:18px;}
.page_newsletter .nl_write_area .form_cnt .fm_txt_info{float:none;position:absolute;right:0;bottom:10px;line-height:21px;}

/* 업무분야  리스트 */
.page_practice_list .con_box .con_list ul.level2 li {width: calc(45.555% - 40px);}
.page_practice_list .con_box .con_list ul.level2 a{font-size:15px;line-height: 21px;} 
.professional_detail .news_list .txt_article a{word-break: break-all}

.form_cnt label {width:130px;}

/* 수상내역 */
.layer_pop.business_field_wrap .year_wrap ul > li > label{width:92px;}
.layer_pop.business_field_wrap .work_wrap ul {overflow: hidden;}
.layer_pop.business_field_wrap .work_wrap ul > li {float:left;}
.layer_pop.business_field_wrap .work_wrap ul > li > label {width:225px;}

.page_construction .mb_logo {background-image: url(../../../images/common/bg_logo_mb_m.png)}

@media only screen and (min-width:768px) {
    /* .containbox_wrap .mb_info_dsc  p{word-break: break-all;} */
    .layer_pop.business_field_wrap .tit_year, 
    .layer_pop.business_field_wrap .tit_work {width:140px;}
    .layer_pop.business_field_wrap .chk_work_wrap,
    .layer_pop.business_field_wrap .chk_year_wrap {width:calc(100% - 160px);}
}

@media only screen and (max-width:1440px) {
    .header_inner .gnb_area {display:none;}
    .terms_box_wrap .non_br br {display: none;}
}

@media only screen and (max-width:1200px) {
   .form_cnt p.br_line.line_h span.info_txt{width:auto;}
   .view_pagination .btn_next{right:15px;}
   .view_pagination .btn_prev{left:15px;}
   
   /* 업무분야  리스트 */
   .page_practice_list .con_box .con_list ul.level2 li {width: 100%;}

    /* 뉴스레터 세미나 신청하기 */
    .page_newsletter .nl_write_area .form_cnt .fm_txt_info{position:relative;bottom:auto;}

    /* 사회공헌 */
    ul.top_anchors li a{font-size:20px;}
} 

@media only screen and (min-width: 1141px) {
    .s_map_list .level3 > li > a {float:none; width:100%;}

    .s_map_list .w_menu .level2 > li > a {float:none; width:100%; display:block;}
    .s_map_list .w_menu .level3 > li {padding:18px 8px; box-sizing:border-box;}
    .s_map_list .w_menu .level4 {float:none; display:block; width:100%; padding-top:0; padding-bottom:10px; white-space:nowrap;}
    .s_map_list .w_menu .level4:after {content:""; display:block; clear:both;}
    .s_map_list .w_menu .level4 li {width:48%; padding:0 16px;}
    .s_map_list .w_menu .level4 li:nth-child(even) {padding-left:22px;}
    .s_map_list .w_menu .non_bdr.non_4th {padding-left:0;}
    .s_map_list .w_menu .non_bdr.non_4th:after {content:""; display:block; clear:both;}
    .s_map_list .w_menu .non_bdr.non_4th > li {width:49%; padding:0 16px; box-sizing:border-box; white-space:nowrap;}
    .s_map_list .s_menu.level1.drop_menu {width:48%;}
    .s_map_list .level3 {float:none; width:100%; box-sizing:border-box; padding-left:10px;}
    .s_map_list .s_menu.level1.drop_menu:nth-child(2n) {margin-right:2.555%;}
    .s_map_list .s_menu.level1.drop_menu:nth-child(3) {margin-right:0}
    .s_map_list .s_menu.level1.drop_menu:nth-child(5) {margin-right:0}
    .s_map_list .s_menu.level1.drop_menu:nth-child(7) {margin-right:0}
    .s_map_list .s_menu.level1.drop_menu:nth-child(9) {margin-right:0} 
} 

@media only screen and (max-width:1024px) {
    /* .containbox_wrap .mb_info_dsc  p.txt_dsc{word-break: break-all;} */
    .containbox_wrap .mb_info_dsc p.txt_dsc,
    .containbox_wrap .mb_info_dsc p.chg_limit{font-size:22px;}
    .containbox_wrap .mb_info_dsc  p{word-break: break-all;}
}

@media only screen and (max-width:800px) {
    .about .view_wrap .bottom_content{margin-bottom:28%;}

    /* 소식 자료 */
    .view_pagination .btn_next,
    .view_pagination .btn_prev{font-size:16px;}
    .view_pagination .btn_next{right:0;}
    .view_pagination .btn_prev{left:0;} 
}

@media only screen and (max-width:767px) {
    input[type=checkbox] + label {background-size: 20px auto}
    .nav_list .level3 > li > a:hover span:after {vertical-align:baseline;margin-top:10px;} 

    /*다국어 로고*/
    .header_inner .logo{width:99px}
    .header_inner .logo a{background-image: url(../../../images/common/bg_logo_global_m.png); background-size: 100% auto;}
    .main_intro .logo{width:99px; background: url(../../../images/common/bg_logo_global_m.png) no-repeat left top; background-size: 100% auto;}
    .main_intro span {background-image:url(../../../images/official/main/bg_intro_logo_m_en.png);}

    /* .step_list ul li {display:none;font-size:14px;}
    .step_list ul li span {display:inline-block;margin-right:5px;width:20px;height:20px;background-size:63px 39px;} */
    .terms_chk_all .input_chk label.active{background-position:25px 11px;}
    .terms_chk_all .input_chk{max-width:none;}
    .join_step02 .form_cnt label{width:auto;}
    .form_cnt p.br_line.line_h span.info_txt{padding:0;margin-top:0;}
    .join_step02 .form_cnt .fm_txt_dsc {margin-left:0;}
    .step_list ul li:first-child{width:33.333%;}
    .step_list ul li{width:28.333%;}

    .containbox_wrap .custom_etc .find_dsc p span{padding-top:5px;}  
    .membership .containbox_wrap .mb_info_dsc p {word-wrap:normal;word-break:break-all;}
	/* etc 페이지 에러 */
    .page_error .top_logo{width:100px;background:url(../../../images/common/bg_logo_global_m.png) no-repeat left bottom;background-size:100% auto;}
    
    /* 멤버십 글로벌 로고 */
    .membership .mb_logo{background-image:url(../../../images/common/bg_logo_mb_m.png);    background-size: auto 100%;}

    /* 더보기 버튼 + 위치수정*/
    .btn_list_more span {background-position:left 2px}

    /* 사회공헌 */
    .yc_csr .csrtype02 .csr_info_box p.txt_tl{font-size:20px}

    /* about */
    .about .about_office_wrap_detail .btn_view a {width:190px;}
    .about input[type=checkbox] + label{background-position:0; background-size:24px 24px;}

    .page_newsletter .nl_write_area .form_cnt .fm_txt_info {float: right;line-height: 50px;}
    .membership .containbox_wrap .mb_info_dsc p {word-wrap:normal;word-break:break-all;}

    /* 업무분야  리스트 */  
    .page_practice_list .con_box .con_list ul.level2 a {font-size:13px;line-height: 18px;}

    /* 수상내역필터 */
    .layer_pop.business_field_wrap .work_wrap ul > li {float:none; vertical-align: top;}
    .layer_pop.business_field_wrap .work_wrap ul > li > label {width:100px;}
}

@media only screen and (max-width:400px) { 
     /* 뉴스레터 신청 */
   .page_newsletter .nl_write_area .f_cnt_top .form_cnt .fm_txt_info{line-height:35px;}
    
}

