@charset "utf-8";
/* layout */
.main .column_wide{padding: 70px 0 120px;}

[class*="row"] [class*="col-6"] {width: 50%;margin: 0;}

/* sub_visual */
.main .sub_visual_area {padding: 0;background: url(../../images/alumni/common/main_bg.png) no-repeat center;background-size: cover;color: #fff;height: 600px;}
.main .sub_visual_area img{display: none;}

/* login_box */
.main .login_box_wrap{border-right: 1px solid #dadada;box-sizing: border-box;}
.main .login_box_wrap input{display: block;margin: 8px 92px;width: calc(100% - 92px);max-width: 400px; float: right;font-weight: 400;}
.main .login_box_wrap input::placeholder{font-weight: 300;}
.main .login_box_wrap button{display: block;margin: 32px 92px;width: calc(100% - 92px);max-width: 400px; float: right; height: 60px;}
.main .login_box_wrap button:active, .main .login_box_wrap button:hover{background: #064895; border: 1px solid #064895;}
.main .login_box_inner .col-12.msg_validate{display: block;margin: 8px 69px;width: calc(100% - 92px);max-width: 400px;float: right;}
.main .grid-layout-msm .col-6.login_box_wrap{margin-right:0;}

/* join_box */
.main .join_box_wrap{box-sizing: border-box;}
.main .join_box_wrap button{display: block;width:calc(100% - 92px);max-width: 400px;margin: 8px 92px;background: #666666;float: left;height: 60px;}
.main .join_box_wrap button:active, .main .join_box_wrap button:hover{background: #525252;border: 1px solid #525252;}
.main .join_box_wrap .join_box_desc{font-size: 16px;width:calc(100% - 92px);max-width: 400px;margin: 20px 92px 8px;float: left;font-weight: 300;}
.main .grid-layout-msm .col-6.join_box_wrap{margin-left:0;}

/* admin_email */
.main .admin_email_wrap{background: #f5f5f5;padding: 28px 0;width:calc(100% - 92px);max-width: 400px;margin: 8px 92px;float: left;font-size: 16px;text-align: center;font-weight: 300;}
.main .admin_email_wrap img{margin: 0 8px 0 18px;vertical-align: -2px;}
.main .admin_email_wrap span:first-child{margin-left: 5px; font-weight: 600;}

@media only screen and (max-width: 1170px) {
  /* login_box */
  .main .login_box_wrap input{display: block;margin: 8px 70px;width: calc(100% - 80px);max-width: 400px; float: right;}
  .main .login_box_wrap button{display: block;margin: 32px 70px;width: calc(100% - 80px);max-width: 400px; float: right;}
  .main .login_box_inner .col-12.msg_validate{margin: 8px 47px;width: calc(100% - 80px);}
  .main .admin_email_wrap{background: #f5f5f5;padding: 30px 0;width:calc(100% - 80px);max-width: 400px;margin: 8px 70px;float: left;}

  /* join_box */
  .main .join_box_wrap button{display: block;width:calc(100% - 80px);max-width: 400px;margin: 8px 70px;background: #666666;float: left;}
  .main .join_box_wrap .join_box_desc{font-size: 16px;width:calc(100% - 80px);max-width: 400px;margin: 20px 80px 8px;float: left;}
}

@media only screen and (max-width: 1024px) {
  /* login_box */
  .main .login_box_wrap input{display: block;margin: 8px 40px;width: calc(100% - 50px);max-width: 400px; float: right;}
  .main .login_box_wrap button{display: block;margin: 32px 40px;width: calc(100% - 50px);max-width: 400px; float: right;}
  .main .login_box_inner .col-12.msg_validate{margin: 8px 16px;width: calc(100% - 50px);}
  .main .admin_email_wrap{background: #f5f5f5;padding: 30px 0;width:calc(100% - 50px);max-width: 400px;margin: 8px 40px;float: left;}

  /* join_box */
  .main .join_box_wrap button{display: block;width:calc(100% - 50px);max-width: 400px;margin: 8px 40px;background: #666666;float: left;}
  .main .join_box_wrap .join_box_desc{font-size: 16px;width:calc(100% - 50px);max-width: 400px;margin: 20px 40px 8px;float: left;}
}

@media only screen and (max-width: 767px) {
  /* layout */
  .main .column_wide{padding: 26px 0;}

  [class*="row"] [class*="col-6"] {margin: 0 2.03%;width: 95.94%;}

  /* sub_visual */
  .main .sub_visual_area {background: none;height: auto;padding:0;}
  .main .sub_visual_area img {display: block;width: 100%;}

  /* admin_email */
  .main .admin_email_wrap{background: #f5f5f5;padding: 16px 0;width: 100%;max-width:100%;margin: 8px auto; float: none;}
  .main .admin_email_wrap{font-size: 13px;}

  /* login_box */
  .main .login_box_wrap input:first-child{margin: 0 auto 8px;}
  .main .login_box_wrap input{display: block;margin: 8px auto;width: 100%;max-width: 100%; float: none; font-size: 14px;height: 40px;}
  .main .login_box_wrap button{display: block;margin: 30px auto;width: 100%;max-width: 100%; float: none;font-size: 15px;height: 50px;}
  .main .login_box_inner:after {content: "";display: block;margin: 0 auto;width: 100%;max-width: 400px;border-bottom: 1px solid #ebebeb;}
  .main .login_box_inner .col-12.msg_validate{margin: 8px auto;width: 100%;max-width: 385px;float: none;}
  .main .grid-layout-msm .col-6.login_box_wrap{margin: 0 2.03%;border:0;}

  /* join_box */
  .main .join_box_wrap button{display: block;background: #666666;margin: 30px auto 8px;width: 100%;max-width: 100%; float: none;font-size: 15px;height: 50px;}
  .main .join_box_wrap .join_box_desc{font-size: 13px;margin: 20px auto 8px; width: 100%;max-width: 100%; float: none;}
  .main .grid-layout-msm .col-6.join_box_wrap{margin: 0 2.03%;}
}