@charset "utf-8";

/* form */
.column_wide{padding:0;}
.mb_cnt_wrap p{font-size: 18px;margin: 0 auto 25px auto;color: #666;text-align: center;width:540px;word-break: keep-all;font-weight: 300;}
.pw_chg_wrap{margin: 0 auto;width: 400px;}
.pw_chg_wrap button{height: 60px;}
.column_wide .mb_cnt_wrap{padding: 75px 0 210px;}

/* popup */
.layer_pop.business_field_wrap{padding: 0;max-width: 660px; height: auto; min-height: 380px;height: auto;}
.layer_pop.business_field_wrap .description{text-align: center;font-size: 24px;color: #222222;font-weight: 300;}
.layer_pop.business_field_wrap .col-12.form_area{height: auto;}
.layer_pop.business_field_wrap .btn_area{padding: 0;border: 0;}
.layer_pop.business_field_wrap .btn_close{margin: 0;position: absolute;top: 27px;right: 30px;width: 28px;height: 28px;display: block;background: url(../../images/alumni/common/btn_pop_close.png) no-repeat right 0;text-indent: -9999px;}
.layer_pop.business_field_wrap .pop_tl{margin-bottom: 0;line-height: 24px;padding: 27px;font-size: 24px;border-bottom: solid 1px #cccccc;}
.layer_pop.business_field_wrap button.btn_gray{margin: 30px 4px 80px;}
.layer_pop.business_field_wrap button.btn_blue{margin: 30px 4px 80px;}
.layer_pop.business_field_wrap button.btn_gray:active, .layer_pop.business_field_wrap button.btn_gray:hover {background: #525252;}
.layer_pop.business_field_wrap button.btn_blue:active, .layer_pop.bus.layer_pop.business_field_wrap .pop_tliness_field_wrap button.btn_blue:hover {background: #064895;}
.layer_pop.business_field_wrap .cnt_area{padding: 60px 0 0;}

/* password */
.password .mb_cnt_wrap input::placeholder{font-weight: 300;}
.password .btn_area{border: 0;padding: 0;}
.password .btn_area button{margin-top: 30px;}

/* button */
.password.container_wrap .column_wide .btn_area{width: 97.5%;}
.password.container_wrap .column_wide .btn_area button {width: 100%;max-width: 400px;font-size: 20px;}
.password.container_wrap .column_wide .btn_area button:active,
.password.container_wrap .column_wide .btn_area button:hover {background: #064895;border: 1px solid #064895;}

@media only screen and (max-width: 767px) {
  /* layout */
  .header_inner .logo a {height: 29px;background: url(../../images/alumni/common/bg_logo_m.png) no-repeat left bottom;background-size: contain;}
  .header_inner .logo {width: 29px;margin-top: 15px;}
  .logo_sub_text {width: 43px;margin: 19px 0 0 9px;font-size: 13px;}
  .header_inner .gnb_btn_area {padding-top: 17px;}
  .header_inner .gnb_btn_area .icon_pwchg {background: url(../../images/alumni/common/icon_pwchg.png) no-repeat left top;background-size: 100% auto;margin: 6px 3px 6px 17px;width: 20px;height: 20px;}
  .header_inner .gnb_btn_area .icon_logout {background: url(../../images/alumni/common/icon_logout_m.png) no-repeat left top;background-size: 100% auto;margin: 6px 3px 6px 12px;width: 20px;height: 20px;}
  .header_inner .gnb_btn_area .link_home{min-width: 78px;font-size: 7px;padding: 8px 11px;}
  .header_inner .gnb_btn_area .icon_pwchg{margin: 6px 3px 6px 17px;width: 17px;height: 20px;}

  /* form */
  .column_wide .mb_cnt_wrap{padding: 25px 0;}
  .mb_cnt_wrap p{font-size: 14px;width:auto;padding: 0 17px;color: #666;line-height: 1.4;margin: 0 auto 17px auto;}
  .pw_chg_wrap{margin: 0 auto;}

  /* popup */
  .layer_pop.business_field_wrap{padding: 0;height: auto; min-height: 220px;max-width: 400px;min-width:288px;width: calc(100% - 15%);}
  .layer_pop.business_field_wrap .btn_close{background: url(../../images/alumni/common/btn_pop_close_m.png) no-repeat right 0;width: 16px;height: 16px;background-size: 16px;top: 20px;right: 18px;}
  .layer_pop.business_field_wrap .pop_tl{padding: 17px 13px;margin-bottom: 20px;font-size:17px;}
  .layer_pop.business_field_wrap .description{font-size: 17px;}
  .layer_pop.business_field_wrap button.btn_gray{min-width: 0; max-width:240px; width: 45%;margin: 20px 4px 30px;}
  .layer_pop.business_field_wrap button.btn_blue{min-width: 0; max-width:240px; width: 45%;margin: 20px 4px 30px;}

  /* input */
  .password.container_wrap .column_wide input {max-width: 391px;}

  /* button */
  .password.container_wrap .column_wide .btn_area{border: 0;padding: 20px 0;}
  .password.container_wrap .column_wide .btn_area button{font-size: 15px;height: 50px;}

  /* etc */
  .main .login_box_wrap{border-right: 0;}

  .find_id_area {max-width:360px;}

  .layer_pop.business_field_wrap .cnt_area {padding: 20px 0 0;}
}

@media only screen and (max-width: 420px) {
  /* button */
  .password.container_wrap .column_wide .btn_area{width: 100%;}

  /* form */
  .pw_chg_wrap{width: auto;}

}