@charset "utf-8";

/* sitemap */
.sitemap_page{padding-bottom:40px;} 
.sitemap_page .swiper-scrollbar-drag{visibility:hidden;}
.non_bdr{border:none;}
.non_pd{padding:0;}

.sitemap {position: relative;}
.sitemap .s_map_inner {position:relative; height:100%;}
.s_map_list .w_menu{padding:30px 0;}
.s_map_list .w_menu .non_bdr{padding:10px 0 20px;}
.s_map_list .w_menu .level3.non_bdr li{padding:0;border:none;}
.s_map_list.menu1 .w_menu{width:100%;margin:0;} 
.s_map_list .w_menu .level2 > li{margin-top:30px;/*display: inline-table;*/border-top:1px solid #f0f0f0;}
.s_map_list .w_menu .level2 > li:after {content:''; display:block; clear:both; overflow:hidden;}
.s_map_list .w_menu .level2 > li:first-child{border-top:0;}
.s_map_list .w_menu .level2 > li > a {float:left;/*width:18%; */margin-top:25px;padding-left:10px;width:85px;font-size:18px;color:#666;}
.s_map_list .w_menu .level2 > li > a:hover,
.s_map_list .w_menu .level2 > li > a:focus,
.s_map_list .w_menu .level3 > li > a:hover,
.s_map_list .w_menu .level3 > li > a:focus {color:#075aba}
.s_map_list .w_menu .level3 > li{display:table;table-layout:fixed;padding:18px 0;width:100%;border-top:1px solid #f0f0f0;}
.s_map_list .w_menu .level3 > li:first-child {border-top:none}
.s_map_list .w_menu .level4{float:left;display:table-cell;width:calc(100% - 200px); padding:5px 0;}
.s_map_list .w_menu .level4 li{float: left;width:33%; padding:0 1.5%; margin-top:12px; box-sizing:border-box; white-space:nowrap;}
.s_map_list .w_menu .level4 li a{font-size:14px;color:#888;line-height:20px;font-weight:300;}

.s_map_list {font-size:0; word-break:keep-all;}
.s_map_list .level1 {font-size:14px;}
.s_map_list .level1 > span,
.s_map_list .level1 > a,
.s_map_list .level1 > div {position:relative; display:block; height:60px; line-height:60px; font-size:24px; font-weight:500;padding:0;border-bottom:2px solid #222;}
.s_map_list .level1 > span > i {display:none;}
.s_map_list .s_menu.level1.drop_menu {display:inline-table;width:22.3%;margin-right: 2.5555%;}
.s_map_list .s_menu{margin-bottom:60px;}
.s_map_list .s_menu > a,
.s_map_list .s_menu > span,
.s_map_list .s_menu > div {margin-bottom:10px;}
.s_map_list .s_menu .level2 li{padding:10px;}
.s_map_list .s_menu .level3{margin:10px auto;}
.s_map_list .s_menu .level3 li{padding:0 16px; width:100%;}
.s_map_list .s_menu .level3 a{float:none; width:auto;} 
.s_map_list .level1.on > a:hover, .s_map_list .level1.on > a:focus {text-decoration:none}
.s_map_list .level2 {overflow:hidden;}
.s_map_list .level2 > li:first-child {margin-top:0;}
.s_map_list .level2 > li > a {font-size:18px;} 
.s_map_list .level2 > li > a:hover {text-decoration:none;}
.s_map_list .level3 {padding: 0;float:  left;width: 89%;}
.s_map_list .level3 > li > a {float:left; position:relative;display:inline-block;color:#666;font-size:16px;line-height: 0;padding:0 0 0 15px;background:url(../images/common/img_bullet_blue.png) no-repeat 0 center; background-size:4px auto; width:185px;}
.s_map_list .level3 > li > a span {line-height:40px;}
.s_map_list .level3 > li.on > a,
.s_map_list .level3 > li > a:hover,
.s_map_list .w_menu .level4 li a:hover{color:#075aba; text-decoration:none;}
.s_map_list .li a span {display:inline-block; line-height:30px; font-weight:500;}
.s_map_list.menu2 .level1:last-child > a:after {content:none;}
.s_map_list .w_menu .non_bdr.non_4th{padding-left:18%;box-sizing:border-box;}
.s_map_list .w_menu .non_bdr.non_4th > li {float:left;width:33.333%;display:inline-block;}
.s_map_list .w_menu .non_bdr.non_4th > li > a{width:auto;}

@media only screen and (min-width: 768px) and (max-width:1140px) {
	.s_map_list .level3 > li > a {float:none; width:100%;}

    .s_map_list .w_menu .level2 > li > a {float:none; width:100%; display:block;}
    .s_map_list .w_menu .level3 > li {padding:18px 8px; box-sizing:border-box;}
    .s_map_list .w_menu .level4 {float:none; display:block; width:100%; padding-top:0; padding-bottom:10px; white-space:nowrap;}
    .s_map_list .w_menu .level4:after {content:""; display:block; clear:both;}
    .s_map_list .w_menu .level4 li {width:48%; padding:0 16px;}
    .s_map_list .w_menu .level4 li:nth-child(even) {padding-left:22px;}
    .s_map_list .w_menu .non_bdr.non_4th {padding-left:0;}
    .s_map_list .w_menu .non_bdr.non_4th:after {content:""; display:block; clear:both;}
    .s_map_list .w_menu .non_bdr.non_4th > li {width:49%; padding:0 16px; box-sizing:border-box; white-space:nowrap;}

    .s_map_list .s_menu.level1.drop_menu {width:48%;}
    .s_map_list .level3 {float:none; width:100%; box-sizing:border-box; padding-left:10px;}
    
    #official .s_map_list .s_menu.level1.drop_menu:nth-child(2n) {margin-right:2.555%;}
    #official .s_map_list .s_menu.level1.drop_menu:nth-child(3) {margin-right:0}
    #official .s_map_list .s_menu.level1.drop_menu:nth-child(5) {margin-right:0}
    #official .s_map_list .s_menu.level1.drop_menu:nth-child(7) {margin-right:0}
    #official .s_map_list .s_menu.level1.drop_menu:nth-child(9) {margin-right:0}
}

@media only screen and (min-width: 1141px) {
	.s_map_list .w_menu .level4 {padding-top:0; margin-top:-3px;}
}

/* Sitemap 모바일은 UI가 다르므로 각 layout.css에 작성 */
@media only screen and (max-width: 767px) {

}