@charset "utf-8";

/* 폼 validate */
[class*="row"] [class*="col-"] .msg_validate{height:16px;margin-right:10px;margin-bottom:14px;padding-left:23px;font-size:16px;color:#e34b2d;background:url(../../images/common/ico_alert.png) no-repeat 0 center;background-size:16px 16px;line-height:16px;text-align:left;vertical-align:middle;}
[class*="row"] [class*="col-"] .msg_validate.success{background-image: url(../../images/common/ico_success.png);color:#075aba;}
[class*="row"] [class*="col-"].form_cnt .msg_validate{margin-left:170px;}

/* 인풋 스타일 */
input, .enter_txt{margin-left:40px;} 

/* button */
button{padding:0 20px;font-size:20px;font-weight:400;line-height: 21px;box-sizing: border-box;}

/*.column_wide{padding:80px 0 120px;}*/
.column_wide .mb_cnt_wrap.col-5 form{width:400px;margin:0 auto;} 
.column_wide .mb_cnt_wrap{float:none;margin:0 auto;/*width:400px;*/padding:80px 0 150px;} 
.column_wide .mb_info_dsc{float:none;margin:0 auto;/*width:400px;padding:80px 0 150px;*/}
.mb_cnt_wrap label{display:none;}
[class*="col-"] .mb_cnt_wrap input{margin-bottom:15px;padding:0 20px;height:50px;font-size:18px;line-height:21px;border:1px solid #d9d9d9;box-sizing:border-box;}
.mb_cnt_wrap input:focus{outline:none;border:2px solid #222; padding:0 19px;}
/* [class*="col-"] .mb_cnt_wrap button{float:none;margin-top:35px;}  */
.section .column_wide button.btn_white{/* height:50px; */padding:10px 30px;font-size:18px;color:#666;border:1px solid #666;background:#fff;}
.section .column_wide button.btn_white:hover,
.section .column_wide button.btn_white:focus {background:#e5e5e5}
.section .column_wide button.btn_gray{color:#fff;border:1px solid #666;background:#666;}  
.section .column_wide button.btn_gray:hover,
.section .column_wide button.btn_gray:focus {background:#525252;}
.custom_etc{margin:20px auto 0 ;padding:0 2.03%;text-align:center;box-sizing:border-box;} /* margin:20px 2.03%; */
.custom_etc{max-width:400px;font-size:16px;} 
.custom_etc ul li{display:inline-block;background-color:#ccc;line-height:15px;}
.custom_etc ul li a{margin-left:1px;padding:0 15px;font-size:16px;color:#666;background-color:#fff;}
.custom_etc ul li:first-child a{margin-left:0;}
.find_dsc p{text-align:left}
.find_dsc p span{float:right}
.find_dsc a{color:#666;border-bottom: 1px solid #666;}
.find_dsc a:hover{text-decoration:none;}
.mb_info_dsc p, 
.mb_info_dsc p.dsc_tl, 
.containbox_mb .mb_info_dsc p{color:#222;font-size:24px;line-height:36px;text-align:center;word-break:keep-all;}
.mb_info_dsc p.dsc_tl{margin-bottom:34px;color:#222;} 
.mb_info_dsc p span{color:#075aba;/*letter-spacing:-1px;*/} 

/* 이메일(아이디) 찾기 */
.column_wide .find_id_area .mb_info_dsc{padding:0;}

/* 비밀번호 찾기 */ 
.column_wide .find_pw_area, .reg_pw_area{text-align:center;}
.column_wide .add_dsc{margin-top:35px;padding:40px 0 0;background:url(../../images/official/member/img_bar_small.png) no-repeat center 0;}
.column_wide .add_dsc p{font-size:18px;line-height:26px;font-weight:300;}

/* 비밀번호 재설정 */
.chg_pw_area p, .reg_pw_area p{margin-bottom:30px;font-size:18px;color:#666;line-height:26px;text-align:center;word-break:keep-all;}

/* 메일 인증 */
.confim_email_area{text-align:center;}
.confim_email_area .mb_cnt_wrap{padding:0}
.confim_email_area [class*="col-"] button{margin:0 5px;/*min-width:240px*/}

/* 회원 탈퇴 */
.leave_area{padding:20px 40px;border: 1px solid #dadada;box-sizing:border-box;}
.leave_area .info_txt{max-height:90px;margin:0;padding:10px 0 10px 30px;font-size:18px;color:#888;background:url(../../images/common/ico_alert2.png) no-repeat 0 center; background-size:20px auto;line-height:normal;text-align:left;} 
.section .form_group_wrap .leave_area button{float:right;margin:0;height:50px;min-width:0;} 
.enter_txt{/*display:inline-table;*/margin-top:0;padding-left:0;}
.section .column_wide button{float:none;/*width:auto;*/padding:0 30px;height:60px;background:#075aba;color:#fff;font-size:20px;line-height:21px;box-sizing:border-box;} 
.section .column_wide button:hover,
.section .column_wide button:focus {background:#064895}
.form_group_wrap  button.btn_white{padding:10px 30px;font-size:18px;color:#666;border:1px solid #666;border:1px solid #666;background:#fff;}
.form_group_wrap  button.btn_gray{color:#fff;border:1px solid #666;background:#666;font-size:18px;line-height:18px;}
.mb_leave_area .btn_area{text-align:center;}
.mb_leave_area .btn_area button{min-width: 240px;}

/* 회원정보 */
.form_cnt.view_list input:disabled{padding:0;background:transparent;border:none;}
.btn_area.col-12{display:inline-block;margin:60px auto;width:100%;}
.btn_area.col-12, .btn_area.col-12 button {float:none;text-align:center;}
.form_cnt input[type=radio]:focus,
.form_cnt input[type=radio]:checked{background-image:url(../../images/common/btn_radio_on.png);border:none;}
.form_cnt{font-size:16px;color:#222;}
.form_cnt .fm_txt_info{padding-bottom:15px;text-align:right;font-weight: 300;}
.form_cnt .txt_essential{color:#e34b2d;}
.form_cnt form .txt_essential{vertical-align:middle; margin-left:5px;}
.form_cnt .fm_txt_dsc{width:auto;margin-left:170px;margin-bottom:14px;font-weight:300;}
.form_cnt p{display:table;margin:13px 0 8px;clear:both; line-height:55px; }
.form_cnt label{float:left;margin-left:10px;width:120px;font-size:18px;}
.form_cnt form{padding:20px 0 0;border-top:2px solid #222;border-bottom:1px solid #222;}
.form_cnt input::placeholder {font-weight:300;}
.form_cnt .int_field{display:none;float:left;margin-bottom:15px;padding:37px 42px 12px;background:#f7f7f7;box-sizing:border-box;}
.form_cnt .int_field div.int_cnt div{float:left;margin:0 18px 25px;}
.form_cnt .int_field a{display:inline-block;height:20px;width:20px;margin-right:5px;background:url(../../images/common/img_delete.png) no-repeat 0 0;background-size:100% auto;vertical-align:-3px;text-indent:-9999px;}
.form_cnt select{/*float:left;*/margin-left:40px;}
.form_cnt select+input{margin-left:15px;}

span.radio_g{display:inline-table;margin-left:40px;vertical-align:middle;line-height:normal;}
span.radio_g label{margin:0 40px 0 0;width:auto;}
p.br_line span.radio_g{margin:0;}
p.br_line span.radio_g label{margin:0 0 0 20px;line-height:75px;background-position: 0 center;}
p.br_line{position:relative;float:left;width:100%;margin:8px 0 0;padding:2px 0;border-top:1px solid #dadada;line-height:75px;}
.form_cnt p.br_line.line_h{margin:0;}
.section .column_wide p.br_line button{position:absolute;top:0;right:0;height:50px;min-width:0;margin:15px 0 0;padding:15px 48px;color:#fff;font-size:18px;background:#666;}
.section .column_wide p.br_line button:hover,
.section .column_wide p.br_line button:focus {background:#525252}
p.br_line button span.f_mumber{font-size:16px;}
span.info_txt{float:left;margin-left:40px;line-height:75px;font-weight:300;}
span.info_txt.info_txt_multi {line-height:1.5;}
span.info_txt.info_txt_multi em {display:inline-block; margin:15px 0 0;}
span.info_txt.info_txt_multi em:last-child {margin-top:10px;}
span.info_txt.info_txt_multi + .radio_g {margin-left:20px;}
span.info_txt.info_txt_multi + .radio_g label {line-height:1.5;}
.line_h > label {display:table-cell;vertical-align:middle;float:none;padding-left: 10px;line-height:25px;}

/* 약관 동의 */
/* input[type=checkbox]:focus, */ 
.terms_box_list  .swiper-scrollbar{top:12px;right:12px;height:90%;}
span.input_chk{float:right;font-size:18px;line-height:25px;vertical-align:middle;}
span.input_chk input{margin-left:0;}	
span.input_chk label{margin-left:10px;}


/* 180316 레이아웃 변경 */
.terms_box_list div.input_chk{display:inline-block;width:100%;padding:20px 0 0;font-size:18px;line-height:25px;vertical-align:middle;}
.terms_box_list div.input_chk input{margin-left:0;}	
.terms_box_list div.input_chk label{margin-left:10px;}
.terms_box_list .msg_validate {/* display:inline-block; */margin:0;}

.tm_essential {color:#075aba;}
.tm_essential.tm_option{color:#888;}
.terms_tit_area{margin:60px auto 10px;}
.terms_tit_area .tm_tl{font-size:20px;}
.terms_tit_area .tm_tl span{font-size:16px;}
.terms_cnt{overflow:hidden;position:relative;height:200px;padding:20px 30px 30px;color:#888;font-size:16px;font-weight:300;line-height:30px;border:1px solid #d9d9d9;box-sizing:border-box;word-break:keep-all;z-index:0;}
.terms_box .terms_chk_all{display:inline-block;width:100%;padding:20px 40px;font-size:18px;background:#f5f5f5;box-sizing:border-box;}
.terms_box .terms_chk_all > div{display:table;width:100%;}
.terms_chk_all  p{display:table-cell;padding-right:40px;word-break:keep-all;vertical-align:middle;}
.terms_chk_all .input_chk{display:table-cell;float:none;width:200px;color:#fff;font-size:18px;line-height:normal;font-weight:400;}
.terms_chk_all .input_chk input{position:absolute;width:0;-webkit-transition:unset;transition:unset;}
.terms_chk_all .input_chk label{display:block;margin:0;width:100%;padding:12px 30px;background-color:#666;background-image:none;-webkit-transition:unset;transition:unset;box-sizing:border-box;text-align:center;}
.terms_chk_all .input_chk label:hover {background:#525252} 
.terms_chk_all .input_chk label.active{margin:0;background-color:#075aba;background-image: url(../../images/common/btn_chk_on.png); background-size:24px auto; background-repeat:no-repeat;background-position:40px 15px;} 
.terms_box_list div.terms_cnt .swiper-slide div > div{padding-bottom:15px;}
.terms_box_list div.terms_cnt  p strong{font-weight:500;}
.terms_box_list div.terms_cnt  p em{margin:0 5px;border-bottom: 1px solid #888;}
.terms_box_list div.terms_cnt ul li{/*list-style-type:disc;list-style-position:inside;margin-left: 0;padding-left: 1em;	text-indent: -1em;*/}
.terms_box_list div.terms_cnt ul li:before{display:inline-block;padding-right:5px;content:'·';}
.terms_box_list p.add_txt{margin-top:5px;font-size:15px;}


@media only screen and (max-width: 1440px) { 
	/* 180316 레이아웃 변경 */
	.terms_box_list div.input_chk span.txt_notice{display:block;}
	.terms_box_list div.input_chk div{float:left;}
	.terms_box_list div.input_chk div .input_group{display:block;}
	.terms_box_list div.input_chk label {margin-left: 0;}
}

@media only screen and (max-width: 1220px) { 
	p.br_line span.radio_g{float:left;margin:10px 0 25px 20px;}
	p.br_line span.radio_g{float:left;margin:10px 0 25px 20px;}
	p.br_line span.radio_g label{line-height:normal;}
	p.br_line.line_h span.info_txt{padding-top:20px;line-height:normal;}
	span.info_txt.info_txt_multi {margin-right:40px;}
	span.info_txt.info_txt_multi em:first-child {margin-top:0;}
}
 
@media only screen and (max-width: 1024px) {  
	input:checked[type="checkbox"]{background-color: transparent;-webkit-appearance: none;} 
}

@media only screen and (max-width: 767px) { 
	button{min-width:0;}
	.section .column_wide button,
	.section .column_wide button.btn_white{padding:0 15px;}
 	.section .column_wide button.btn_white{margin:30px auto;height:50px;/*width:100%;*/font-size:15px;}
	.column_wide .btn_area.col-12 button.w_100{width: 100%;}
	.terms_box_list  .swiper-scrollbar{top:6px;right:6px;} 

	/* 180316 레이아웃 변경 */
	.terms_box_list div.input_chk{padding:15px 0;}
	.terms_box_list div.input_chk span.txt_notice{font-size:13px;line-height:normal;} 
	.terms_box_list p.add_txt{margin-top:0;font-size:13px;}
	
	/* 폼 validate */
	[class*="row"] [class*="col-"] .msg_validate{margin-bottom:8px;padding-left:15px;height:13px;font-size:13px;line-height:13px;background-image: url(../../images/common/ico_alert_m.png);background-size: 13px 13px;} 
	input[type=checkbox],
	.terms_chk_all .input_chk .active+input[type=checkbox]{width:21px;height:21px;background-size:21px 21px;}
	.terms_chk_all p {display:block;padding-right:0;width: auto;}
	.form_cnt{padding-bottom:40px;font-size:13px;}
	.form_cnt form{padding:0;}
	.form_cnt label, .form_cnt input, 
	.form_cnt select, .form_cnt p.br_line button,
	.form_cnt button, .chg_pw_area p, 
	.reg_pw_area p,.leave_area .info_txt,
	.section .column_wide button.btn_gray{font-size:14px;line-height:18px}  
	.form_cnt label{float:none;display:inline-block;margin:10px 0;width:auto;font-weight:500;line-height:normal;}
	[class*="row"] [class*="col-"].form_cnt .msg_validate,
	.form_cnt select,  span.info_txt, .form_cnt input{margin-left:0;}	
	.form_cnt select, .form_cnt .fm_txt_dsc{margin:0;}
	.form_cnt input, .form_cnt select{height:40px;width:100%;} 
	span.info_txt, .form_cnt p{line-height:normal} 
	.form_cnt select+input{margin:7px auto 0;} 
	.form_cnt .int_field{margin: 0 0 20px;padding:20px 20px 10px;width:100%;}
	.form_cnt .int_field div.int_cnt div{margin:0 10px 10px;}
	.form_cnt input[type=radio]{height:23px;width:23px;padding:0;background-size:23px 23px;}
	.form_cnt input[type=radio]+span{margin-right:30px;vertical-align:middle;}
	.form_cnt p{display:block;}
	.form_cnt p.br_line{padding:10px 0;border:none} 
	.form_cnt p.br_line label{display:inline-block;margin:10px 0 0;}	
	.form_cnt p span.radio_g{display:block;}
	.form_cnt p span.radio_g.fl_right{float:left;margin-top:15px}
	.form_cnt p.br_line.line_h span.info_txt{padding-top:10px;}
	.form_cnt .line_h > label{padding-left:0;}
	.form_cnt p.br_line span.radio_g{margin:10px 0 0 0;}
	.form_cnt p.br_line br{display:none;}
	.section .column_wide p.br_line button, .column_wide .view_list button.btn_gray{height:40px;position:relative;top:auto;right:auto;float:right;margin:0 auto;padding:0 30px;font-size:14px;}
	p.br_line button span.f_number{font-size:14px;}
	.enter_txt {display:inline;margin:0;padding:0;}
	.form_cnt .int_field a {height:17px;width:17px;background-image: url(../../images/common/img_delete_m.png);vertical-align:bottom} 
	.btn_area.col-12{margin:30px auto;}
	.column_wide .btn_area.col-12 button{margin: 0 auto;/*width:100%;*/font-size:15px;}
	.form_cnt p.br_line+p,  .form_cnt div.int_field+p.br_line{border-top:1px solid #dadada;}
	.form_cnt p.br_line.line_h{margin:8px 0 0;}
	.form_cnt span.radio_g{margin:0;} 
	.form_cnt span.radio_g label, .form_cnt .br_line span.radio_g label{margin: 0 10px 0 0;line-height:normal;} 
	
	.column_wide .mb_cnt_wrap{width:100%;/* padding:30px 0; */}
	.column_wide .mb_cnt_wrap.col-5 form{width:100%;}
	[class*="col-"] .mb_cnt_wrap input{margin-bottom:8px;font-size:14px;}
	[class*="col-"] .mb_cnt_wrap button{/* margin-top:0;*/font-size:15px;}
	[class*="col-"] .mb_cnt_wrap input,
	[class*="col-"] .mb_cnt_wrap button{/*width:100%;margin-left:0;margin-right:0;*/height:40px;padding:0 10px;}
	[class*="col-"] .mb_cnt_wrap input:focus {padding:0 9px;}

	.custom_etc{width:100%;max-width:100%;font-size:13px;}
	.custom_etc ul li{line-height:11px;}
	.custom_etc ul li a{padding:0 7px;font-size:14px;}
	.mb_cnt_wrap.col-5 .btn_area{margin:30px auto 0; } 
		
	.terms_tit_area{position:relative;float:left;width:100%;margin:25px auto 10px;}	
	.terms_tit_area .tm_tl{font-size:14px;/*line-height:30px;*/}
	.terms_tit_area .tm_tl span{font-size:13px;}
	.terms_box .terms_chk_all{padding: 30px 40px;font-size:14px;text-align:center;word-break:keep-all;}
	.terms_box .terms_chk_all p{line-height:18px;letter-spacing:0;}	
	.terms_cnt{/*float:left;*/height:130px;padding:15px;font-size:13px;line-height:20px;}	
	.terms_chk_all .input_chk{display:block;float:none;margin:20px auto 0;max-width:138px;font-size:14px;}
	.terms_chk_all .input_chk label{padding:10px 10px;}
	.terms_chk_all .input_chk label.active{padding:10px 40px 10px 40px; background-image: url(../../images/common/btn_chk_on_m.png); 
	background-size: 21px 21px; background-position:20px 10px}
	.terms_box_list span.input_chk label {float:right;height:21px;}

	.mb_info_dsc p.dsc_tl,	.mb_info_dsc p{margin-bottom:20px;} 
	.mb_info_dsc p, 
	.mb_info_dsc p.dsc_tl, 
	.containbox_mb .mb_info_dsc p{font-size:16px;line-height:22px;}
	.column_wide .add_dsc{margin-top: 20px;}	
	.column_wide .add_dsc{padding:25px 0 0;background-image: url(../../images/official/member/img_bar_small_m.png);}
	.column_wide .add_dsc p{margin-bottom:0;font-size:14px;line-height:18px;}	 
	.confim_email_area [class*="col-"] button{min-width:137px;/*min-width:45%;*/}
	.confim_email_area .btn_area{margin:0 auto;}
	.leave_area {position:relative;display:inline-block;width:100%!important;padding:20px 0;border:none;}
	.leave_area:before{display:block;position:absolute;top:0;left:-2.5%;right:-2.5%;border-top:1px solid #dadada;content:"";}
	.leave_area .info_txt{background:none;padding-left:0}	
}

@media only screen and (max-width: 580px) { 
	.confim_email_area .add_dsc br{display:none;} 
}
 
@media only screen and (max-width: 480px) { 
	.terms_tit_area .input_chk{float:left;width:100%;}
	.terms_box_list span.input_chk label {position:absolute; top:0;right:0; }
	span.input_chk input{position:absolute;top:5px;right:0;}
	[class*="row"] [class*="col-"] .terms_box .msg_validate{margin:0;}
	.confim_email_area [class*="col-"] button{min-width:45%}
}

@media only screen and (max-width: 360px) { 
	.login_area .custom_etc{margin-left:0;margin-right:0;}
	.custom_etc ul li a{padding:0 5px;}
}
